<p class='clue'>countries of the world</p>
{{#each this}}
  <div class='card__country-box'>
    <h2 class='card__title'> {{name}}</h2>
    <div class='card__thumb'>
      <div>
        <p class='card__desc'>Capital: <span class='card__item-list'>{{capital}}</span></p>
        <p class='card__desc'>Population: <span class='card__item-list'>{{population}}</span></p>
        <p class='card__desc'>Languages:</p>
        <ul class='card__item-list'>
          {{#each languages}}
            <li>{{name}}</li>
          {{/each}}
        </ul>
      </div>
      <img class='card__img' src='{{flag}}' alt='{{name}}' height='150' />
    </div>
  </div>
{{/each}}